<html>
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="login/login.css">
    <style>
        body {
            width: 100%;
            height: 100%;
            background-image: url("image/6.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>

</head>
<body>
<div id="tit"><p>软件自动化测试系统</p></div>
<div id="container" class="container">
    <div class="panel panel-info">
        <div class="panel-heading text-center">
            <h3 class="panel-title">
                用户登录
            </h3>
        </div>
        <div class="panel-body">
            <form action="/userInfo/subLogin" method="post" name="f">
                <h4 style="color:red" th:text="${error}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                <div class="tab"><label for="">账&nbsp;号:</label><input class="text" id="username" type="text"
                                                                       name="usercode" placeholder="请输入账号" required
                                                                       value=""></div>
                <div class="tab"><label for="">密&nbsp;码:</label><input class="text" id="password" type="password"
                                                                       name="password" placeholder="请输入密码" required
                                                                       value=""><a id="open"
                                                                                          class="glyphicon glyphicon-eye-open"></a>
                </div>
                <br>
                <input type="submit" id="log" value="登录" class="btn btn-primary logi">
            </form>
            <div class="reg"><a href="#" data-toggle="modal"
                                data-target="#add" id="add2">注册新账号</a></div>
        </div>
    </div>
</div>

<!-- 添加窗口 -->
<!-- 模态框（Modal） -->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title text-center" id="myModalLabel">
                    用户注册
                </h4>

            </div>
            <div class="modal-body">
                <form class="form-group" action="/userInfo" method="post" id="form1">
                    <div class="form-group">
                        <label for="">用户名</label>
                        <input class="form-control" type="text" placeholder="请输入用户名" name="usercode"
                               required="required">
                    </div>
                    <div class="form-group">
                        <label for="">密码</label>
                        <input class="form-control" type="password" placeholder="请输入密码" name="password">
                    </div>
                    <div class="form-group">
                        <label for="">用户姓名</label>
                        <input class="form-control" type="text" placeholder="请输入姓名" name="username">
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="确定" class="btn btn-primary confirm">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消
                        </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div><!--添加窗口-->
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script>
    $(function () {
        $("#open").click(function () {
            if ($("#password").attr("type") == "password") {
                $("#password").attr("type", "text");
                $("#open").removeClass("glyphicon glyphicon-eye-open");
                $("#open").addClass("glyphicon glyphicon-eye-close");
            } else {
                $("#password").attr("type", "password");
                $("#open").removeClass("glyphicon glyphicon-eye-close");
                $("#open").addClass("glyphicon glyphicon-eye-open");
            }
        })
    })
</script>

</html>